In [13]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from glob import glob
import os

In [14]:
PATH_TO_DATA = 'C:\\Users\\VyaznikovKS\\Desktop\\_уч\\CRYPTO\\logs'

In [17]:
%%time
log = pd.DataFrame(columns=range(70))

for name in glob(PATH_TO_DATA + '\\*.log'):
    
    with open(name, 'r', encoding='utf-8') as file :
        filedata = file.read()
        filedata = filedata.replace(', ', ',')
        filedata = filedata.replace('+ ', '+')
        filedata = filedata.replace('- ', '-')
        filedata = filedata.replace(' = ', ' ')
        filedata = filedata.replace('%', '')
    with open(name, 'w', encoding='utf-8') as file:
        file.write(filedata)  
    
    log_add = pd.read_csv(name,
                          header = None,
                          sep=' ',
                          #skipfooter=400000,
                          names=range(70),
                          skipinitialspace=True,
                          error_bad_lines=False)
    log = pd.concat([log, log_add])

#log.head()

Wall time: 1min 39s

In [4]:
#log.info()

In [18]:
%%time
log_1 = log[log[4].isin(['EMAFilter:', 'done,total:','***'])]
log_10 = log[log[4].isin(['EMAFilter:'])]
log_10

Wall time: 30.9 s

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
116,00:23:23.633,COMP:,[1],(1358),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,00:23:23.633,COMP:,[2],(1359),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,00:23:23.633,COMP:,[3],(1360),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,00:23:23.648,COMP:,[5],(1362),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,00:23:23.648,COMP:,[6],(1363),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407027,13:27:59.281,GRT:,[1],(34237),EMAFilter:,"EMA(60min,1sec)",1.31,"Max(60min,1sec)",0.13,"Min(60min,1sec)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407029,13:27:59.297,KSM:,[1],(34238),EMAFilter:,"EMA(60min,1sec)",0.75,"Max(60min,1sec)",-0.56,"Min(60min,1sec)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407031,13:27:59.332,SNX:,[1],(34239),EMAFilter:,"EMA(60min,1sec)",-0.80,"Max(60min,1sec)",-1.04,"Min(60min,1sec)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407033,13:27:59.360,BTT:,[1],(34240),EMAFilter:,"EMA(60min,1sec)",1.86,"Max(60min,1sec)",-1.34,"Min(60min,1sec)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407035,13:27:59.375,1INCH:,[1],(34241),EMAFilter:,"EMA(60min,1sec)",-0.06,"Max(60min,1sec)",-0.78,"Min(60min,1sec)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#log.head()

In [20]:
#log_1.to_csv(PATH_TO_DATA + '\\log_1.csv', sep=' ')
#log_10.to_csv(PATH_TO_DATA + '\\log_10.csv', sep=' ')

In [21]:
log_1 = log_1.reset_index()
log_10 = log_10.reset_index()
#log_1[log_1[4].isin(['done,total:'])]

In [22]:
log_1

,index,0,1,2,3,4,5,6,7,8,...,60,61,62,63,64,65,66,67,68,69
0,91,00:23:08.397,SOL:,[1],(1348),***,SELL,order,DONE,!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,92,00:23:08.397,SOL:,[1],(1348),***,Sell/Buy:,+0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93,00:23:08.397,SOL:,[1],(1348),***,Sell/ASK:,+0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,95,00:23:08.397,***,Sell,#SOL,"done,total:",+0.02,$,(+1.8),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116,00:23:23.633,COMP:,[1],(1358),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47263,407027,13:27:59.281,GRT:,[1],(34237),EMAFilter:,"EMA(60min,1sec)",1.31,"Max(60min,1sec)",0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47264,407029,13:27:59.297,KSM:,[1],(34238),EMAFilter:,"EMA(60min,1sec)",0.75,"Max(60min,1sec)",-0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47265,407031,13:27:59.332,SNX:,[1],(34239),EMAFilter:,"EMA(60min,1sec)",-0.80,"Max(60min,1sec)",-1.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47266,407033,13:27:59.360,BTT:,[1],(34240),EMAFilter:,"EMA(60min,1sec)",1.86,"Max(60min,1sec)",-1.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47267,407035,13:27:59.375,1INCH:,[1],(34241),EMAFilter:,"EMA(60min,1sec)",-0.06,"Max(60min,1sec)",-0.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
log_10

,index,0,1,2,3,4,5,6,7,8,...,60,61,62,63,64,65,66,67,68,69
0,116,00:23:23.633,COMP:,[1],(1358),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,123,00:23:23.633,COMP:,[2],(1359),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,130,00:23:23.633,COMP:,[3],(1360),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,137,00:23:23.648,COMP:,[5],(1362),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,144,00:23:23.648,COMP:,[6],(1363),EMAFilter:,"EMA(24hours,1sec)",-4.69,"EMA(40hours,1sec)",-6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40579,407027,13:27:59.281,GRT:,[1],(34237),EMAFilter:,"EMA(60min,1sec)",1.31,"Max(60min,1sec)",0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40580,407029,13:27:59.297,KSM:,[1],(34238),EMAFilter:,"EMA(60min,1sec)",0.75,"Max(60min,1sec)",-0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40581,407031,13:27:59.332,SNX:,[1],(34239),EMAFilter:,"EMA(60min,1sec)",-0.80,"Max(60min,1sec)",-1.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40582,407033,13:27:59.360,BTT:,[1],(34240),EMAFilter:,"EMA(60min,1sec)",1.86,"Max(60min,1sec)",-1.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40583,407035,13:27:59.375,1INCH:,[1],(34241),EMAFilter:,"EMA(60min,1sec)",-0.06,"Max(60min,1sec)",-0.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
log_numbers = log_10.iloc[::,6:].dropna(axis=1, how='all')
#log_numbers

In [25]:
k= {}
for i in range(min(log_numbers.columns), max(log_numbers.columns), 2):
    k = set().union(k, np.unique(log_numbers[i].dropna().values).tolist())
k = list(k)

In [26]:
log_numbers_short = pd.DataFrame(columns = k)
#log_numbers_short

In [27]:
for i in range(log_numbers.shape[0]):
    for j in range(min(log_numbers.columns), max(log_numbers.columns), 2):
        #print(i,j)
        #print(log_numbers.loc[i,j])
        #print(log_numbers.loc[i,j+1])
        log_numbers_short.loc[i,log_numbers.loc[i,j]] = log_numbers.loc[i,j+1]
log_numbers_short = log_numbers_short.dropna(axis=1, how='all')
#log_numbers_short

In [28]:
dims = pd.concat([log_numbers_short, log_10.iloc[log_10.index][3]], axis=1)
#dims

In [29]:
log_2 = log_1[log_1[4] == 'done,total:'][[3,7]].reset_index(drop=True)
log_3 = log_1.iloc[log_1[log_1[4] == 'done,total:'].index - 1][3].reset_index(drop=True)

log_marge = pd.concat([log_2, log_3], axis=1, ignore_index=True)

log_marge.columns = [1, 2, 3]

pd.merge(left=log_marge, right=dims)

,1,2,3,"Min(3hours,1sec)","BTC(60min,1sec)","EMA(30sec,1sec)","MAvg(15sec,1sec)","Max(40hours,1sec)","Max(3hours,1sec)","MAvg(40hours,1sec)",...,"MAvg(60min,1sec)","Min(40hours,1sec)","Min(5min,1sec)","Max(30min,1sec)","BTC(5min,1sec)","EMA(60min,1sec)","BTC(3hours,1sec)","BTC(15sec,1sec)","Min(60min,1sec)","EMA(5min,1sec)"
0,#SOL,(+1.8),(1348),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#1INCH,(+2.2),(1328),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#BLZ,(+11.7),(1378),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#BLZ,(+11.7),(1378),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#SOL,(+15.8),(1398),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,#BZRX,(+3.2),(30311),NaN,0.25,-0.02,0.01,NaN,NaN,NaN,...,0.27,NaN,1.20,-0.18,0.07,2.02,NaN,0.01,2.12,0.21
2180,#FTM,(-14.2),(30974),NaN,0.68,-0.19,0.01,NaN,NaN,NaN,...,0.70,NaN,0.65,-2.39,0.07,5.66,NaN,0.01,6.73,-0.33
2181,#COTI,(+2.2),(31159),NaN,0.60,-0.20,-0.06,NaN,NaN,NaN,...,0.60,NaN,1.16,-0.45,-0.07,2.37,NaN,-0.06,2.74,0.60
2182,#SUSHI,(+3.0),(31308),NaN,0.59,-0.06,-0.03,NaN,NaN,NaN,...,0.58,NaN,-0.02,-1.17,-0.13,0.57,NaN,-0.03,0.99,-0.36
2183,#FTM,(+9.2),(33527),NaN,0.62,1.03,0.05,NaN,NaN,NaN,...,0.57,NaN,2.27,-0.11,0.17,3.11,NaN,0.05,5.68,1.80

In [30]:
logi = pd.merge(dims, log_marge)
logi.rename(columns={3: "iter", 1: "coin", 2: "profit_%"}, inplace = True)

In [31]:
logi['profit_%'] = logi['profit_%'].str[1:-1]

In [32]:
logi['profit_%'] = logi['profit_%'].astype('float')

In [35]:
logi.to_excel('C:\\Users\\VyaznikovKS\\Desktop\\_уч\\CRYPTO\\_all.xlsx')
logi.to_csv('C:\\Users\\VyaznikovKS\\Desktop\\_уч\\CRYPTO\\_all.csv', sep = ' ')

In [34]:
logi

,"Min(3hours,1sec)","BTC(60min,1sec)","EMA(30sec,1sec)","MAvg(15sec,1sec)","Max(40hours,1sec)","Max(3hours,1sec)","MAvg(40hours,1sec)","MAvg(5min,1sec)","EMA(40hours,1sec)","BTC(40hours,1sec)",...,"Max(30min,1sec)","BTC(5min,1sec)","EMA(60min,1sec)","BTC(3hours,1sec)","BTC(15sec,1sec)","Min(60min,1sec)","EMA(5min,1sec)",iter,coin,profit_%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(1363),#IOTX,16.1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(1363),#IOTX,16.1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(1368),#COMP,8.1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(1368),#COMP,8.1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.41,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(1378),#BLZ,11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,NaN,0.25,-0.02,0.01,NaN,NaN,NaN,0.08,NaN,NaN,...,-0.18,0.07,2.02,NaN,0.01,2.12,0.21,(30311),#BZRX,3.2
2180,NaN,0.68,-0.19,0.01,NaN,NaN,NaN,0.07,NaN,NaN,...,-2.39,0.07,5.66,NaN,0.01,6.73,-0.33,(30974),#FTM,-14.2
2181,NaN,0.60,-0.20,-0.06,NaN,NaN,NaN,-0.07,NaN,NaN,...,-0.45,-0.07,2.37,NaN,-0.06,2.74,0.60,(31159),#COTI,2.2
2182,NaN,0.59,-0.06,-0.03,NaN,NaN,NaN,-0.15,NaN,NaN,...,-1.17,-0.13,0.57,NaN,-0.03,0.99,-0.36,(31308),#SUSHI,3.0
2183,NaN,0.62,1.03,0.05,NaN,NaN,NaN,0.17,NaN,NaN,...,-0.11,0.17,3.11,NaN,0.05,5.68,1.80,(33527),#FTM,9.2

In [43]:
logi_all = logi.dropna(axis=1, how='all')
logi_all.loc[1776,::]

Min(3hours,1sec)         NaN
BTC(60min,1sec)          NaN
EMA(30sec,1sec)          NaN
MAvg(15sec,1sec)         NaN
Max(40hours,1sec)        NaN
Max(3hours,1sec)         NaN
MAvg(40hours,1sec)       NaN
MAvg(5min,1sec)          NaN
EMA(40hours,1sec)        NaN
BTC(40hours,1sec)        NaN
Min(15min,1sec)          NaN
Max(60min,1sec)          NaN
BTC(30sec,1sec)          NaN
EMA(15sec,1sec)          NaN
Max(5min,1sec)           NaN
MAvg(30sec,1sec)         NaN
EMA(3hours,1sec)         NaN
EMA(12hours,1sec)      -5.39
EMA(24hours,1sec)        NaN
MAvg(3hours,1sec)        NaN
MAvg(60min,1sec)         NaN
Min(40hours,1sec)        NaN
Min(5min,1sec)           NaN
Max(30min,1sec)          NaN
BTC(5min,1sec)           NaN
EMA(60min,1sec)          NaN
BTC(3hours,1sec)         NaN
BTC(15sec,1sec)          NaN
Min(60min,1sec)          NaN
EMA(5min,1sec)           NaN
iter                  (6856)
coin                    #DOT
profit_%                18.1
Name: 1776, dtype: object